<!-- auth.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/authErrorListener.js" defer></script>
  </head>
  <body>
    <section class="vertical-center-container horizontal-center-container">
      <form class="form" action="/auth-submit" method="post">
        <label class="h2 form-title">Авторизация</label>
        <input
          class="form-input h3"
          type="text"
          id="username"
          name="username"
          placeholder="Логин"
          required
        /><br />
        <input
          class="form-input h3"
          type="password"
          id="password"
          name="password"
          placeholder="Пароль"
          required
        /><br />
        <div class="button-container">
          <button class="button submit-button h3" type="submit">Войти</button>
          <button class="button submit-button h3">
            <a href="{{ url_for('register') }}" class="no-link-style"
              >Регистрация</a
            >
          </button>
        </div>
      </form>
    </section>
    <div id="errorModal" class="modal h2">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="errorMessage"></p>
      </div>
    </div>
  </body>
</html>
