<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Repair Requests</title>
    <link rel="stylesheet" href="/static\styles.css" />
    <script src="/static/cardReqursts.js" defer></script>
    <style></style>
  </head>
  <body>
    <header>
      <div class="logo">ReqAuto</div>
      <nav>
        <ul>
          <li><a href="#" class="active">Заявки</a></li>
          <li><a href="#">Профиль</a></li>
        </ul>
      </nav>
      <button class="toggle-menu-button">☰</button>
    </header>
    <div id="requests-container"></div>
  </body>
</html>
